
Spoon-Knife/
API/.ipynb_checkpoints/api_data_wrangling_mini_project-checkpoint.ipynb
RegressionCaseStudy/Springboard Regression Case Study - the Red Wine Dataset - Tier 1.ipynb
RegressionCaseStudy/Springboard Regression Case Study - the Red Wine Dataset - Tier 2.ipynb
RegressionCaseStudy/wineQualityReds.csv
.ipynb_checkpoints/03.10-Working-With-Strings-checkpoint.ipynb
.ipynb_checkpoints/meteorites-checkpoint.ipynb
SQL_caseStudy/.ipynb_checkpoints/CountryClubCaseStudy-checkpoint.ipynb
SQL_caseStudy/.ipynb_checkpoints/LocalSQLConnection-checkpoint.py
03.10-Working-With-Strings.ipynb
AppsStudy/AppleStore.csv
AppsStudy/appleStore_description.csv
AppsStudy/googleplaystore.csv
AppsStudy/googleplaystore_user_reviews.csv
AppsStudy/Springboard Apps project - Tier 1 - Complete.ipynb
AppsStudy/Springboard Apps project - Tier 2 - Complete.ipynb
RegressionCaseStudy/.ipynb_checkpoints/Springboard Regression Case Study - the Red Wine Dataset - Tier 1-checkpoint.ipynb
RegressionCaseStudy/.ipynb_checkpoints/Springboard Regression Case Study - the Red Wine Dataset - Tier 2-checkpoint.ipynb
RegressionCaseStudy/.ipynb_checkpoints/Springboard Regression Case Study Wine Dataset - Tier 3RJS-checkpoint.ipynb
LogisticRegressionCaseStudy/.ipynb_checkpoints/Logistic Regression Advanced Case Study-checkpoint.ipynb
LogisticRegressionCaseStudy/data/01_heights_weights_genders.csv
LogisticRegressionCaseStudy/images/.ipynb_checkpoints/bias-checkpoint.png
LogisticRegressionCaseStudy/images/onelinesplit.png
LogisticRegressionCaseStudy/Pipfile.lock
LogisticRegressionCaseStudy/Pipfile
LogisticRegressionCaseStudy/images/dataform.jpg
